body {
    background-color: #D3D3D3;
    font-family: "Lucida Console", Courier, monospace;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.table {
    margin: 0 auto;
    border-spacing: 5px;
    border: 1px solid #808080;
    border-radius: 5px;
    background-color: #FFFFFF;
}

th {
    background-color: #ADD8E6;
    font-size: 14px;
}

th, td {
    border: 1px solid #808080;
    padding: 10px;
}

td {
    font-size: 12px;
}